#data {
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

li {
    list-style-type: none;
}

.data2 li:nth-of-type(2) {
    width: 100%;
    height: 10px;
    background: red;
}

.table_d {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table_d div,
.table_d2 div {
    width: 11%;
    margin: auto;
}

.table_d2 {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.table_d2 div {
    width: 11%;
}

.data2 {
    width: 88vw;
}

.data2>div {
    text-align: right;
}