* {
    font-family: "微軟正黑體";
}

body,
html {
    margin: 0;
    height: 100%;
    background: #ebe6e6;
    cursor: url("../img/hover.gif"), auto;

}

.navbar {
    width: 100%;
    height: 80px;
    background: #29b573;
    color: white;
    line-height: 60px;
    padding: 0.5rem 1rem;
}

.navbar p {
    font-size: 20px;
    margin: 0px;
    line-height: 60px;
}

.main {
    margin: auto;
}

section {
    margin: 20px;
    color: #000;
}

.expcountsection input {
    width: 100%;
}

.drugdiv {
    background: #88b088;
    padding: 20px;
    margin: 20px 0px;
    color: white;
    font-size: 25px;
    border-radius: 20px;
    text-align: center;

}

.drugdiv img {
    margin: 0 auto;
    width: 30%;
    height: 30%;
}

.drugimg {
    padding: 10px;
    margin: 10px;
}

.drugdiv button {
    border: 0px;
    width: 50%;
    border-radius: 10px;
    background: #1e8b58;
    color: white;
}

.expshow-1 {
    background: rgb(182, 213, 182);
    width: 100%;
    height: 50px;
    border-radius: 30px;
}

.expshow-1 div {
    transition: all 0.6s;
    width: 0px;
    text-align: center;
    line-height: 50px;
    color: white;
    font-weight: bold;
}

.expshow-2 {
    background: #1e8b58;
    height: 50px;
    border-radius: 30px;
    width: 0px;
}

.Results_table .row div {
    text-align: center;
    color: white;
    height: 50px;
    font-size: 1em;
    padding: 0;
    line-height: 42px;
}

.result_a {
    width: 100%;
    background: #1e8b58;
    transition: all 0.3s ease-in-out;
    color: white;
}

.row .result_footer a {
    text-decoration: none;
    color: white;
    width: 100%;
    padding: 30px 0px;
}

.row .result_footer .result_a:hover {
    color: #1e8b58;
    background: white;
    font-weight: bolder;
}




.Results_table .result_title .col-3 {
    background: #1e8b58;
    border-top: 4px solid #fff;
    border-bottom: 4px solid #fff;
    border-left: 2px solid #fff;
    border-right: 2px solid #fff;
}

.Results_table .result_title .col-3:nth-of-type(1) {

    border-left: 4px solid #fff;
}

.Results_table .result_title .col-3:nth-of-type(4) {

    border-right: 4px solid #fff;
}

.Results_table {
    border-radius: 20px;
    padding: 20px;
    height: auto;
    background: #88b088;
    text-align: center;
}

/*
.phone {
    display: none;
}*/

footer {
    width: 100%;
    height: 70px;
    background: #99a08f;
    color: white;
    text-align: center;
    line-height: 35px;
    margin-top: 5%;
    font-size: 14px;
}

.dialog {
    position: fixed;
    display: flex;
    justify-items: center;
    width: 70vw;
    bottom: 0;
    height: auto;
    left: 15vw;
    border-top-left-radius: 30px;


}

.dialog img {
    width: 100%;
    height: auto;
    object-fit: cover;
    z-index: 9;
    flex-direction: row;

}

.dialog-text {
    position: absolute;
    bottom: 20%;
    font-size: 1em;
    left: 30%;
    color: #508179;
    z-index: 10;
    font-weight: bold;

}

#dialog-text2 {
    bottom: 8%;
    color: white;
}

.menu img {
    height: 100%;
    object-fit: cover;
}

.menu {
    display: flex;
    flex-direction: row;
    cursor: url("../img/hover2.cur"), auto;
}

#dialog-text2,
#dialog-text3 {
    display: none;
}

.btnbg {

    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#bbcc11', endColorstr='#88bb00', GradientType=0);
    font-weight: bolder;
    width: 180px;
    font-size: 20px;
    height: 40px;
    position: absolute;
    margin-top: auto;
    z-index: 11;
    color: white;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: url("../img/hover2.cur"), auto;
}

.btn_d {
    width: inherit;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.dialog-btn {
    background: #bbcc11;
    background: -moz-linear-gradient(top, #bbcc11 0%, #88bb00 100%);
    background: -webkit-linear-gradient(top, #bbcc11 0%, #88bb00 100%);
    background: linear-gradient(to bottom, #bbcc11 0%, #88bb00 100%);
    bottom: 20px;
    right: 3%;
}

.dialog-btn-close {
    bottom: 20px;
    left: 30%;
    background: #7a6c59;
    background: -moz-linear-gradient(top, #7a6c59 2%, #423423 99%);
    background: -webkit-linear-gradient(top, #7a6c59 2%, #423423 99%);
    background: linear-gradient(to bottom, #7a6c59 2%, #423423 99%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a6c59', endColorstr='#423423', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#7a6c59', endColorstr='#423423', GradientType=0);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#665948', endColorstr='#423423', GradientType=0);
    width: 150px;
    font-size: 15px;
    height: 30px;
    display: none;
}

#dialog {
    display: none;
}

#dialog-btn1 {
    display: none;
}



.btnbg a {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#dialog-text p:hover {
    color: #508179;
    text-decoration: #508179 dotted underline;

}

.dialog-text-row:hover {
    cursor: url("../img/hover2.cur"), auto;
}



.dialog:hover>.tr {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 13.0px;
    border-color: transparent transparent transparent #ff0000;
    transition: border 0.3s ease-in-out;
}

.tr {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 7.5px 0 7.5px 13.0px;
    border-color: transparent transparent transparent #c7c7c7;
}

.dialog-text-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 20px 0px;

}

.dialog-text-row p {
    margin-left: 20px;
    line-height: 22px;
    height: 100%;
    margin-bottom: 0;
}

@media screen and (max-width:768px) {

    .phone {
        display: block;
        text-align: center;
        font-size: 18px;
    }

    .Results_table {
        min-height: 350px;
    }

    .drugdiv {
        font-size: 12px;
    }

    .Results_table .row div {
        font-size: 12px;
    }

    .result_footer {
        height: 100px;
    }

    footer {
        height: 150px;
    }

    .navbar {
        height: 160px;
    }

    .navbar p {
        font-size: 18px;
    }
}