html, body {
    height: 100%;
    margin: 0;
}
.main {
    min-height: 100%;
}
.section1 {
    padding-bottom: 70px; 
 }
nav {
    top: 0px;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;


}

.navbar {
    width: 100%;
    height: 80px;
    background: #29b573;
    color: white;
    line-height: 60px;

}
.re{
    float: left;
 
    color: white;
    margin:10px 0px;
}
.re button{
    color: white;
    width: 100%;
    background: rgba(41, 181, 115,1);
    border: 0px  solid white;
    border-radius: 50px;
    height: 60px;
    line-height:40px;
}



nav p {
    font-size: 20px;
    margin: 0px;
    line-height: 60px;
    font-family: "微軟正黑體";
}

body {
    background: rgb(235, 230, 230)
}

.section1 {
    margin-top: 30px;
}

.drug button {
    border: 0;
    margin: 0;
    padding: 0;
}

#expvalue {
    color: #000;
    height: 30px;
    background: rgb(182, 213, 182);
    text-align: center;
    line-height: 30px;
    border-radius: 8px;
}


#expvalue2 {
    width: 100%;
    max-width: 100%;
    height: 100%;
    border-radius: 8px;
}
.run{
    width: 0%;
    animation-name: arun;
    animation-duration: 2s;
}
@keyframes arun {
    0%{
        max-width: 0%;
    }
    100%{
        max-width: 100%;
    }
}

#expusevalue {
    margin: 0;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    color: white;
    width: 100%;
    height: 100%;

}

.vuediv div {
    width: 200px;
    height: 50px;
}
.input input{
    width: 100%;
}

.item_container{
    height: 50px;
    margin: 30px;

}
.item-container .col-md-2{
    background: white;
    margin: 20px;

}
.drugname{
    color: white;
    font-size: 16px;
    height: 30px;
    line-height: 40px;
    width: 100%;
    margin: 10px 0px;
    text-align: center;
}
.drugmargin{
    margin-bottom: 10px ;
}
.drugimg{
    margin: 0 auto;
    height: 90px;
    width: 50%;
}
.drugimg img{
    margin:auto;
    width: 100%;
    height: 100%;
    border-radius: 3px;

}
.druguse{
    margin: 0 auto;
    height: 50px;
    width: 50%;
}
.druguse p{
    display: none;
}
.druguse button{
    background: rgba(41, 181, 115,1);
    border: 0px;
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 30px;
    color: white;
    border-radius: 20px;
    z-index: 3;

}
#button span{
    z-index: 53;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
}
/* .buttontime{
    position:relative;
    background:none;
    border: none;
height: 30px;
    width: 0%;
    animation: buttontime;
    animation-duration: 3s;
    border-radius: 20px;
    z-index: 50;
}

@keyframes buttontime {
    0%{
        width: 0px;
        border-bottom:0px
        
    }
    100%{
        width: 90%;
        border-bottom: 2px white solid;
    }
    
} */
button span{
    z-index: 53;
    width: 100%;
    height: 100%;
    color: white;
    font-size: 20px;
}
.drugdiv-1{
    padding: 0px 60px;
}
.drugdiv-2{
    width: 100%;
    padding: 0;
    margin: 20px 0px;
    
    background: #88b088;
    border-radius: 20px;

}

#a0404{
    width: 200px;
    height: 50px;
    background: wheat;
}
.levelupgif{
    width: 100vw;
    height: 100vh;
    position:absolute;
    top:0;
    margin-top: 10vh;
    display: none;
}

.levelupgif section{
    background: rgba(189, 187, 181, 0.608);
    width: 50vw;
    height: 20vh;
    margin:0 auto;
    border-top: 5px solid white;
    border-bottom: 5px solid white;
}
.levleupgiffont{

   width: 100%;
   height: 100%;
text-align: center
;

}
.levelgiffont{
    color: white;
    font-family: "華康中明體";
    width: 100%;
    height: 100%;
 text-align: center;
 margin: 0 auto;
}
.levelgiffont{
    font-size: 50px;
    color: white;
    font-weight: 500;
}
.levlegifchinese{
    color: rgb(255, 206, 27);
    font-size: 25px;
    text-align: center;

    font-weight: 700;

    
}
.hide{
    display: none;
}

#deletegif{
    border: 3px solid #8ce777;
    padding: 5px;
    margin: 0;
    border-radius: 5px;
    background: none;
}
#result1{
    width: 100%;
    height:120px;
    background: white;
}
footer{
    width: 100%;
    height: 70px;
    background: rgb(153, 160, 143);
    color: white;
    text-align: center;
    line-height: 35px;
    margin-top:5%;
    font-size: 14px;
}
.navbar-1{
    width: 100%;
}
#service{
    max-width: 100%;
    max-height: 100%;
    background: #999999;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}
#service p{
    font-size: 60px;
    text-align: center;
    position: absolute;
    color: white;
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0 auto;
}
#service .main {
    display: none;
}
/* #service footer{
    display: none;} */
/*hover*/
#re button:hover{
    background: rgba(41, 181, 115,0.7);

transition: background 300ms linear;

}
/**/
.onoffswitch {
    position: relative; width: 123px  ;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
}
.onoffswitch-checkbox {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
 border-radius: 20px;
 border: 1.5px solid white;
}
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
}
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 34px; padding: 0; line-height: 34px;
    font-size: 16px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
}
.onoffswitch-inner:before {
    content: "開啟動畫";
    padding-left: 12px;
    background-color: #74cf74; color: #FFFFFF;
}
.onoffswitch-inner:after {
    content: "關閉動畫";
    padding-right: 12px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
}
.onoffswitch-switch {
    display: block; width: 25px; margin: 5px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 85px;
    height: 25px;
    border: 2px solid #999999; border-radius: 20px;
    transition: all 0.3s ease-in 0s; 
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
}
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px; 
}
/**/



/*red*/
@media(max-width: 600px){
  
 
	.onoffswitch{
        width: 80px
    }
    .onoffswitch-inner:before {
        content: "On";
    }
    .onoffswitch-inner:after {
        content: "Off";
        padding-right: 12px;
        background-color: #EEEEEE; color: #999999;
        text-align: right;
    }
    .onoffswitch-switch{
        right: 40px;
    }
    .levelgiffont{
        font-size: 35px;
  
    }
    .levlegifchinese{
        font-size: 20px;
    
    
        
    }
    .levelupgif{
      
        margin-top: 10vh;
    }
   .navbar{
       height: 100%;
       font-size: 20px;
   }
}

@media(max-width: 860px){
    footer{
    height: 160px;
    }
   
}

/**/
.prompt{
    padding:0px 30px;
    width: 100%;
    height: 100%;
    background: white;
    border-bottom: 2px solid #999;    

}
.prompta{
    text-indent : -4em ;
    margin-left : 8em;
    display: none;
    margin-right:4em;


}
.prompttitle{
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    text-align: center;
    cursor:pointer;

}
