<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <META HTTP-EQUIV="pragma" CONTENT="no-cache">
    <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache, must-revalidate">
    <META HTTP-EQUIV="expires" CONTENT="0">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <title></title>
</head>

<body>
    <nav class="navbar">
        <p class="webtitle"></p>
        <!-- 
        <div class="menu" id="menu">
            <img src="img/menu.png">
            <p>選單</p>
        </div> -->
    </nav>
    <div class="main">
        <section>
            <div style="background-color: burlywood;width: 100px;height: 50px"><a href="newage.html"
                    style="width: 100%;height: 50px;display: block;">臨時6轉用</a></div>
            <div class="row">
                <div class="col-md-8">
                    <div id="app">
                        <div class="row expcountsection">
                            <div class="col-md-4 ">
                                <label for="level" class="form-label"> 輸入你的等級：</label>
                                <input type="number" class="form-control" v-model="expinput.level" id="level" min="141"
                                    max="300">
                            </div>
                            <div class="col-md-4">
                                <label for="exp" class="form-label"> 輸入你的經驗值：</label>
                                <input type="number" class="form-control" v-model="expinput.exp" id="exp">
                            </div>
                            <div class="col-md-4">
                                <label for="exp_per" class="form-label"> 輸入你的經驗值趴數：</label>

                                <input type="number" class="form-control" v-model="expinput.exp_per" min="0" max="100"
                                    id="exp_per">
                            </div>
                        </div>
                        <br>
                        <div class="div_btn_r_b">
                            <button type="reset" id="reset" class="btn_r_b col-6">重置</button>
                            <button type="button" onclick="goback()" class="btn_r_b col-6">返回上一筆</button>
                        </div>


                        <p class="col-12 text-center mt-3">經驗值</p>
                        <div class="col-md-12 expshow-1">
                            <div class="col-md-12 "></div>
                        </div>
                        <div class="row expchoose">
                            <div v-for="item in itemchoose" class="col-md-4 col-6">
                                <div class="drugdiv">
                                    <p v-html=item.name></p>

                                    <div class="drugimg">
                                        <img v-bind:src="item.img" alt="" />
                                    </div>
                                    <form action="">
                                        <select title="一次使用幾罐" :name="item.druglevelid"
                                            class="drugselct form-select text-center w-50 m-auto">
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </form>
                                    <button class="mt-3" :value="item.druglevel">使用</button>

                                    <p>累積次數 <span :id="item.druglevelid">0</span></p>



                                </div>

                            </div>
                        </div>

                    </div>
                </div>

                <div class="col-md-4 Results_table  ">
                    <div class="row result_title">
                        <div class="col-3 ">
                            <div>使用前等級</div>
                        </div>
                        <div class="col-3 ">
                            <div>使用前經驗</div>
                        </div>
                        <div class="col-3 ">
                            <div>使用後等級</div>
                        </div>
                        <div class="col-3">
                            <div>使用後經驗</div>
                        </div>
                    </div>
                    <div class="row result_contant">

                    </div>
                    <div class="row result_footer">
                        <div>
                            <p>本區只記錄後10筆記錄</p>
                            <a href="data.html" target="_blank">
                                <div class="result_a">查看等級經驗表</div>
                            </a>
                        </div>
                    </div>
                </div>

            </div>
        </section>

    </div>
    <!-- <div class="dialog" id="dialog">
        <img src="img/people2.png" alt="">
        <div class="text_d">
            <div class="dialog-text" id="dialog-text">
                <div class="dialog-text-row">
                    <div class="tr"></div>
                    <p> 介紹</p>
                </div>
                <div class="dialog-text-row">
                    <div class="tr"></div>
                    <p>資料來源</p>
                </div>
            </div>
            <div class="dialog-text" id="dialog-text2">
                <div class="dialog-text-row">
                    <p>輸入等級後選擇藥水即可獲得升級效果<br>200等以下藥水僅提供141-200等使用且為隨機升級等級<br>若要查看機率可至右表點查看經驗表查詢<br><br>200等以上的所有藥水，提供200至300等使用<br>若低於該等級則給予該等級100%經驗值若超過則給該藥水等級-1經驗量<br>例如：225等使用210藥水則給209升級所需經驗量
                    </p>
                </div>
            </div>
            <div class="dialog-text" id="dialog-text3">
                <div class="dialog-text-row">
                    感謝巴哈姆特網友g555555g（玥御夜）提供200等以上經驗數據、200等以下參考韓國官方數據
                </div>
                </p>
            </div>
        </div>
        <div class="btn_d">
            <div class="dialog-btn btnbg" id="dialog-btn1"><a id="btn-text">
                    < 回上頁</a>
            </div>
            <div class="dialog-btn-close btnbg" id="dialog-btn2"><a id="btn-text">
                    結束對話</a>
            </div>
        </div>

    </div> -->

    </div>
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    實際效果依使用為準，此網頁僅提供模擬<br>
                    感謝巴哈姆特網友g555555g（玥御夜）提供200等以上經驗數據、200等以下參考韓國官方數據 </div>
                <div class="col-md-6 ">
                    <!-- hitwebcounter Code START -->
                    本網頁累計使用人數<br>
                    <!-- hitwebcounter Code START -->
                    <a href="https://www.hitwebcounter.com" target="_blank">
                        <img src="https://hitwebcounter.com/counter/counter.php?page=7792232&style=0010&nbdigits=5&type=ip&initCount=https:"
                            title="Free Counter" Alt="web counter" border="0" />
                    </a>
                </div>
            </div>
        </div>
    </footer>
    <script src="https://unpkg.com/vue"></script>
    <script src="https://unpkg.com/vue-cal"></script>
    <script src="js/jquery-3.6.0.js"></script>
    <script src="js/exp.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/all.js"></script>

</body>

</html>